<h1>{{restaurant.name}}</h1>
<small>{{restaurant.slogan}}</small>
{{#if owns}}
<div class="row">
  <div class="col-sm-12 col-md-4">
    <a href="/restaurant/{{restaurant._id}}/new-item">
      <button class="btn btn-block btn-primary">New menu item</button>
    </a>
  </div>
  <div class="col-sm-12 col-md-4">
    <button class="btn btn-block btn-secondary">Edit</button>
  </div>
  <div class="col-sm-12 col-md-4">
    <button class="btn btn-block btn-danger">Delete</button>
  </div>
</div>
{{/if}}
<hr>
<h2>Menu:</h2>

<div class="row">
  {{#each restaurant.menu}}
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <img src="{{image}}" class="card-img-top" alt="{{name}}">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>